<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> {{ course.name }} </h5>
    <p class="card-text">
      {{ course.level }}
    </p>
    <button class="btn btn-primary"  [routerLink]="['/app/course', course.id]" >Go course</button>
  </div>
</div>
