<div class="container">
  <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <div class="login-panel panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Inicio de sesión</h3>
              </div>
              <div class="panel-body">
                  <form [formGroup]="formGroup" (ngSubmit)="login()">
                      <fieldset>
                          <div class="form-group">
                              <input class="form-control" formControlName="username" placeholder="Usuario" name="username" type="text" autofocus>
                          </div>
                          <div class="form-group">
                              <input class="form-control" formControlName="password" placeholder="Contraseña" name="password" type="password">
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input name="remember" type="checkbox" value="Remember Me">Recuérdame
                              </label>
                          </div>
                          <div class="form-group">
                            <span>¿No tienes cuenta? <a routerLink="/user/register">Regístrate!</a></span>
                        </div>
                          <!-- Change this to a button or input when using this as a form -->
                          <button type="submit" class="btn btn-lg btn-success btn-block">Accede</button>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
