<h1 class="page-header">Graphics</h1>
<form>
  <div class="form-group col-md-4">
    <label for="graphic">Graphic types</label>
    <select class="form-control" name="graphic" (change)="changeChart($event.target.value)">
      <option value="0">Pie</option>
      <option value="1">Doughnut</option>
    </select>
  </div>
</form>
<ng-template appDynamicCharts>
</ng-template>
