<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" routerLink="/app">SC Trade</a>
</div>
<ul class="nav navbar-top-links navbar-right">
  <li>
    <a class="btn" (click)="logout()">Logout</a>
  </li>
</ul>
