<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
</nav>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</div>
